@CHARSET "UTF-8";

h1 {
	font-size: 3vh;
	height: 6vh;
	top: 2vh;
}

p {
	margin-bottom:1vh;
	margin-top:2vh;
}

#error_box {
	background-color:#F2635F;
	padding-left: 3vw;
	padding-right: 3vw;
	padding-bottom: 1vh;
	padding-top:1vh;
	color:white;
	width : 20vw;
	height:5vh;
	left: 37vw;
	top: 22vh;
}

#toggle_button {
	position: relative; background-color : rgba( 2, 136, 209, 0.0);
	color: white;
	outline: none;
	cursor: pointer;
	text-decoration: underline;
	display: inline-block;
	background-color: rgba(2, 136, 209, 0.0); color : white; outline : none;
	cursor : pointer; text-decoration : underline; display : inline-block;
	top: 1vh;
}

.user_image {
	position: relative;
	background: white;
	border-radius: 100%;
	z-index: 1;
	left: 43.2vw;
	width: 10.7vw;
	height: 17vh;
	top: 15vh;
	padding: 3vh;
}

#login_box {
	padding-left: 3vw;
	padding-right: 3vw;
	padding-bottom: 2vh; 
	width : 20vw;
	left: 37vw;
	top: 20vh;
	text-align: center;
}

#login_button {
	width: 10vw;
	margin-top: 1vh;
	top: 2vh;
}

#login_button:HOVER {
	background-color: rgba(255, 255, 255, 0.4);
}

.login_input {
	width: 20vw;
	margin-top: 1vh;
}