@CHARSET "UTF-8";


.input_field {
	width:15vw;
	padding:0.2vh;
}

#error_box {
	background-color:#F2635F;
	padding-left: 3vw;
	padding-right: 3vw;
	padding-bottom: 1vh;
	padding-top:1vh;
	color:white;
	width: 34vw;
	left: 30vw;
	top:10vh;	
}

h3 {
	position:relative;
	margin-bottom: 3vh;
	color:white;
	size: 1vh;
	height:1vh;
	right:11vw;
	font-family: Verdana;
}

#information_box {
	width: 40vw;
	left:30vw;
	top:10vh;
	text-align:center;
}

#information_next_button {
	left:15vw;
	top:2vh;
}

#information_cancel_button {
	left:-15vw;
	top: -3.2vh;	
}

